In [13]:
import pandas as pd
import numpy as np

In [14]:
studentdata = "resources/students.csv"
schooldata = "resources/schools.csv"

In [15]:

studentdata_df = pd.read_csv(studentdata,encoding="iso-8859-1")
schooldata_df = pd.read_csv(schooldata,encoding="iso-8859-1")
(schooldata_df, studentdata_df, how="left", left_on="school_name", right_on="school_name")
studentdata_df.head()
complete_df = pd.merge

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [16]:
Total_School = len(schooldata_df["school_name"])
Total_Students = len(studentdata_df["student_name"])
Total_Budget = sum(schooldata_df["budget"])
print (Total_Students)
print (Total_School)
print (Total_Budget)

39170
15
24649428

In [17]:
Average_Math = (complete_df["math_score"]).mean()
Average_Reading = (complete_df["reading_score"]).mean()
Average_Math, Average_Reading

(78.98537145774827, 81.87784018381414)

In [18]:
Overall_passing_score = (Average_Math + Average_Reading)/2
Overall_passing_score

80.43160582078121

In [19]:
students = studentdata_df["student_name"].count()

In [20]:
reading_count = ((complete_df["reading_score"] >= 70).sum()/complete_df["reading_score"] .count())
math_count = ((complete_df["math_score"] >= 70).sum()/complete_df["reading_score"] .count())






reading_count, math_count

(0.8580546336482001, 0.749808526933878)

In [21]:
district_summary_df = pd.DataFrame({"Total Schools":[Total_School],
                                "Total Students":[Total_Students],
                                "Total Budget":[Total_Budget],
                                "Average Math Score":[Average_Math] ,
                                "Average Reading Score":[Average_Reading],
                                "% Passing Math":[math_count],
                                "% Passing Reading":[reading_count],
                                "Overall Passing Rate":[Overall_passing_score]})

In [22]:
district_summary_df.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
0,15,39170,24649428,78.985371,81.87784,0.749809,0.858055,80.431606

In [26]:

studentdata_group_df = studentdata_df.groupby(["school_name"], as_index=False)
stu_data_readavg_df = pd.DataFrame(studentdata_group_df["reading_score"].mean())
stu_data_mathavg_df = pd.DataFrame(studentdata_group_df["math_score"].mean())
readpass_group_df = studentdata_df[studentdata_df["reading_score"]>=70].groupby(["school_name"], as_index=False)
mathpass_group_df = studentdata_df[studentdata_df["math_score"]>=70].groupby(["school_name"], as_index=False)

In [27]:
mathpasscount_df = pd.DataFrame(mathpass_group_df["math_score"].count())
readpasscount_df = pd.DataFrame(readpass_group_df["reading_score"].count())
mathpasscount_df.columns = ["school_name", "mathcount"]
readpasscount_df.columns = ["school_name", "readcount"]

In [ ]:
performing_df= pd.merge(schooldata_df,(schooldata_df, stu_data_readavg_df  
studentdata_df.head()